*{
    margin: 0;
    padding: 0;
    font-family: Kalam, sans-serif;
}

@font-face {
    font-family: Kalam;
    src: url('./../fonts/Kalam/Kalam-Light.ttf');
}

.container{
    background-color: #EDF0F7;
}

/* HEADER */
header{
    overflow: hidden;
    height: 125vh;
}

body {
    background-color: #EDF0F7;
}

.iframeClass{
    width:560px;
    height:315px;
}

.videosAgency{
    margin-left: 30%;
    margin-right: 30%;
    height: 25pc;
}

.logo{
    padding: 4px 50px;
    padding-left: 0;
}

.bgw_detail{
    background: white;
    height: 20px;
    margin: -30px 760px 0;
    width: 105px;
}

.footerColor {
    height: 44pc;
    background-color: #0CBFA4;
}

.Ieum {
    float: left;
    width: 48%;
    height: 700px;
    padding: 0px 14px;
    /* margin: 1%; */
    background: #0CBFA4;
}

.videoPhrase {
    font-size: 20px;
    margin: 30px;
}

.imageAgence{
    height: 210px;
}

.inputForm{
    outline: none;
    border: none;
    width: 45%;
    height: 40px;
    border-radius: 50px;
    padding: 0 25px;
    margin-top: 10px
}

.imageAgence {
    height: 0;
}

.allTeamMember{
    margin-top: 0;
}

.canelo{
    height: 1100px;
    margin: 100px;
}

.caleno1 {
    margin: 30px;
    text-align: center;
    font-size: 45px;
}

.canelo2{
    padding: 4%;
    font-size: 18px;
}

.canelo3{
    height: 90pc;
}

.canelo4{
    text-align: initial
}

.column2{
    width: 33%;
    float: left
}

.divPineapple{
    height: 65pc;
}

.golovkin{
    width: 33%; float: left
}

#divThomas{
    background-repeat: no-repeat;
    background-image: url("./../img/imgx.png");
    background-size: 100% 100%;
}

.img_service{
    width: 100%;
    height: auto;
}

.footer5{
    float: left;
    width: 50%;
}

.ul200{
    margin-left: 130px;
}

.h1deveir_dev{
    text-align: center;
    font-size: 29px;
    color: #FAF194;
    margin: 10px;
}

.burger div{
    width: 25px;
    height: 5px;
    /* change to yellow after in mobile version*/
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}


.dsd{
    height: 600px;
    margin-top: 200px;

}

.NosServices{
    text-align: center;
    font-size: 40px;
    margin: 30px;
}
.burger {
    display: none;
}



.nav-area{
    position: relative;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.Ieum12{
    color: white;
    font-size: 40px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.agencyPrese{
    margin: 120px;
    height: 28pc;}

.img_logo{
    margin-top: 40px;
    margin-left: -120px;
    width: 150px;
    height: 60px;
}

.ServicesList_2{
    text-align: center;
    float: right;
    height: 300px;

}

.footerUl{
    margin-left: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    padding: 8px;
    margin: 20px;
    margin-right: 40px;
    float: right;
    color: #FFFFFF;
}

p {
    margin:0 ;
}

.ServicesTitle{
    margin: 0;
    font-size: 20px;
}

.profite {
    outline: none;
    background-color: #0CBFA4;
    border: none;
    color: white;
    padding: 10px 67px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
    border-radius: 45px;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.agence{
    text-align: center;
    float: left;
    margin: 3%;
}

.p_ami{
    margin-top: 80px;
    font-size: 62px;
}

.row{
    position: relative;
    justify-content: center;
    flex-direction: row;
    overflow-x: auto;
    margin: 5%;
    height: 550px;

}

.row2{
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    background-color: #f1f1f1;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 31%;
    padding: 0 10px;
    text-align: -webkit-center;
}

.imageDigital {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.titleDIP{
    margin-top: 10px;
    color: #f1f1f1 }

.textDigital{color: #f1f1f1}

.imageInfluence {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.imageProduction{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.subtitle{
    margin: 20px;
    text-align: center;
    font-size: 29px
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #0CBFA4;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.card{
    position: relative;
    width: 80%;
    height: 65%;
    border-radius: 40px;
}

.card:hover .overlay {
    width: 100%;
    border-radius: 15px;
    left: 0;
}

.section4{
    background-color: #EDF0F7;
}

.psection4{
    margin-left: 20%;
    margin-right: 20%;
}

.Infldeux {
    float: left;
    width: 47%;
    padding: 0 14px;
}

.Ieum{
    float: left;
    width: 47%;
    height: 700px;
    padding: 0 14px;
    /* margin: 1%; */
    background: #0CBFA4;
}

.Infltrois {
    padding: 16px;
    text-align: center;
}

.Ieum1 {
    margin-top: 15%;
    padding: 16px;
    text-align: center;
}

.NosInfluenceurs{
    width: 100%;
    height: 105pc;
    margin-top: 5%;
}

.section5{
    background-color: #EDF0F7;
    height: 54pc;
    margin-left: 10px;
}

/* Float four columns side by side */
.services {
    float: left;
}

/* Remove extra left and right margins, due to padding */
.services{
    margin: 1px;
    width: 33%;
    position: relative;
    text-align: center;
}

.TitleService{
    font-size: 25px;
    text-align: center;
    margin-left: 130px;
    color: white;
    position: absolute;
    top: 70%;
}

.a{
    float: left;
    width: 50%;
}

.b{
    text-align: center;
}

.OurServices{
    float: left;
    width: 100%;
}

.OurServices1{
    width: 100%;
    float: left;
}

.ServicesList{
    text-align: center;
}

.pineapple{
    float: right;
    width: 50%;
    height: auto;
    margin-left: 0;
    padding: 0 0;
}

.pineapple2{
    float: left;
    width: 50%;
    height: 450px;
    margin-left: 0;
    padding: 0 10px;
}

.notreObjectif{
    text-align: center;
    font-size: 40px;
}

.votreReussite{
    text-align: center;
    font-size: 35px;
    margin-left: 200px;
    color: #FBDC00;
}

.dfcrple{
    text-align: center;
    width: 100%;
    font-size: 30px
}

.divPineapple{
    margin: 0 3% 0;

}

.videoPhrase{
    text-align: center;
    font-size: 40px
}

.epicVideo{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%
}

.teamMemberName{
    text-align: initial;
}

.btnjenProfite{
    cursor: pointer;
    outline: none;
    border: none;
    width: 22%;
    height: 30px;
    color: #0CBFA4;
    border-radius: 50px;
    background-color: #FDDD00
}

.footerServices{
    margin-left: 150px;
    margin-right: 150px
}

.divVide{
    background-color: #0CBFA4;
    padding: 20%;
}

.contactezNous{
    text-align: center;
    color: white
}

.row2{
    margin: 83px;
    margin-top: 1pc;
}

.PhraseMetiersAvenir{
    margin: 10px;
    text-align: center;
    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;
}

.NosH1influ{
    text-align: center;
    font-size: 30px;
}

.notreObjectif {
    text-align: center;
    font-size: 40px;
}

.footer{
    width: 100%;
    height: 300px;
    background-color: #FDDD00;
}

.column3{
    margin-top:0;
}
/*Responsive web design */
/*Mobile*/


@media screen and (min-width: 320px) and (max-width: 480px) {
    header{
        overflow: hidden;
        height: 80vh;
    }

    body{
        overflow-x: hidden;
    }

    .videosAgency {
        margin-left: 0;
        margin-right: 0;
        height: 25pc;
    }

    .iframeClass {
        width: 100%;
        height: 315px;
    }

    .allTeamMember{
        margin-top: 20pc;
    }

    .bgw_detail{
        display: none;
    }

    .logo{
        padding: 0 155px;
        padding-left: 0;
    }

    .profite {
        background-color: #0CBFA4;
        border: none;
        color: white;
        padding: 2px 26px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        align-content: center;
        border-radius: 45px;
    }

    .imageAgence {
        height: 20pc;
    }

    .golovkin {
        width: 100%;
        float: left;
        height: 320px;
    }

    .videoPhrase{
        margin: 20px;
    }

    .canelo3{
        height: 240pc;
    }

    .canelo4{
        text-align: center;
    }

    .inputForm{
        width: 80%;
        height: 60px;
        border-radius: 50px;
        padding: 0 25px;
        margin-top: 10px
    }

    .caleno1{
        font-size: 25px;
        margin: 30px;
    }

    .canelo{
        margin-left: 10%;
        margin-right: 10%;
        height: 175pc;
    }

    .canelo{
        margin: 45px;
    }

    .divPineapple {
        height: 100pc;
    }

    .footerColor {
        height: 85pc;
        margin: 0;
    }

    .section5 {
        background-color: #EDF0F7;
        height: 1900px;
        margin-left: 0;
    }

    .dsd {
        margin-top: 0;
        height: 800px;
    }

    .column{
        text-align: center;
        width: 93%;
        font-size: 30px;
    }

    .column3{
        margin-top: 60px;
    }

    .notreObjectif {
        margin-top: 15px;
        text-align: center;
        font-size: 32px;
    }

    .img_logo{
        width: 75px;
        height: 40px;
        margin: 14px;
    }

    .img_service{
        width: 100%;
        margin-top: 30px;
        height: auto;
    }

    .ul200 {
        margin-left: 30px;
        margin-top: 35px;
    }

    .Ieum12{
        color: white;
        margin-top: 110px;
        font-size: 30px;
    }

    .Ieum {
        float: left;
        width: 92%;
        height: 465px;
        padding: 0 14px;
    }

    .nav-links {
        color: white;
        margin: 0;
        width: 50%;
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        background-color: #0CBFA4;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    #divThomas {
        background-image: url(./../img/imagemobile.png);
        /* background-size: cover; */
        background-repeat: no-repeat;
        /* background-position: right; */
    }

    .Ieum1{
        margin-top: -12%;
    }

    .footerAgency{
        width: 100%;
        height: 200px;
        background-color: #FDDD00;
        margin-top: 47%
    }

    .footerUl{
        margin: 100px;
    }

    .titleDIP{
        margin-top: 15px;
        color: #f1f1f1
    }

    .footer{
        width: 100%;
        height: 500px;
        background-color: #FDDD00;
    }

    .deveirInflu{
        margin: 0;
    }

    .footerAgency{
        width: 100%;
        height: 425px;
        background-color: #FDDD00;
        margin-top: 290%;
    }

    .textDigital{
        font-size: 10px;
        color: #f1f1f1;
    }

    .Infldeux {
        float: left;
        width: 92%;
        padding: 0 10px;
        margin: 1%;
    }

    .section4 {
        background-color: #EDF0F7;
        margin-top: 0;
        height: 214pc;
    }

    .NosH1influ{
        text-align: center;
        font-size: 30px;
    }

    .services{
        margin: 1px;
        width: 100%;
        position: relative;
        text-align: center;
    }

    .agencyPrese{
        margin: 0;
        height: 55pc;
    }

    .TitleService {
        position: absolute;
        top: 70%;
    }

    .b{
        background-color: #0CBFA4;
        text-align: center;
    }

    .row{
        position: relative;
        justify-content: center;
        flex-direction: row;
        overflow-x: auto;
        margin: 5%;
        height: 98pc;


    }

    .formulaireContact{
        background-color: #0CBFA4;
    }

    .PhraseMetiersAvenir{
        text-align: center;
        font-size: 10px;
    }

    .OurServices{
        float: left;
        width: 100%;
        background-color: #0CBFA4;
    }

    .ServicesList_2{
        margin-top: 30px;
        text-align: center;
        float: none;
    }

    ul {
        list-style-type: none;
        margin: 3%;
        padding: 0;
        overflow: no-content;
    }

    li {
        float: none;
        color: white;
    }

    .OurServices1{
        background-color: #FDDD00;
    }

    .card{
        position: relative;
        width: 100%;
        height: 65%;
        border-radius: 40px;
    }


    .subtitle {
        margin: 25px;
        font-size: 29px;
        text-align: center;
    }

    .agence{
        float: none;
        margin: 3%;
        margin-top: 45%;
        text-align: center;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .votreReussite{
        font-size: 25px;
        margin: 10px
    }

    .nav-active{
        transform: translateX(0%);
    }

    .toggle .line1{
        opacity: 0;
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .column{
        margin-top: 0;
        background-color: #EDF0F7;
        display: block;
        margin-bottom: 20px;
    }

    .p_ami {
        margin-top: 29pc;
        font-size: 18px;
    }

    .formationsCertifiantes{
        font-size: 16px;
    }

    .row2{
        display: initial;
        justify-content: center;
    }

    .img-bg {
        margin-top: 100%;
    }

    .pineapple{
        width:100%;
        height: auto;
        margin-left:0;
        padding: 0;
    }

    .pineapple2{
        width:100%;
        height: auto;
        margin-left:0;
        padding: 0;
    }

    .divPineapple{
        margin: 0;
    }

    .teamMember{
        width: 250px;
    }

    .teamMemberName{
        text-align: center;
    }

    .videoPhrase{
        font-size: 20px;
    }

    .epicVideo{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .a {
        float: left;
        width: 100%;
    }

    .btnjenProfite{
        width: 48%;
        height: 60px;
        color: #0CBFA4;
        border-radius: 50px;
        background-color: #FDDD00;
    }

    .OurServices {
        margin: 0;
        width: 100%;
    }

    ul {
        list-style-type: none;
        overflow: no-content;
    }

    .ServicesList {
        text-align: center;
    }

    .ServicesList_2{
        text-align: center;
    }

    .footerServices{
        margin-left: 0;
        margin-right: 0;
    }

    .divVide{
        background-color: #0CBFA4;
        padding: 30%;
    }

}


/*All phones*/


/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    header{
        overflow: hidden;
        height: 100vh;
    }

    body{
        overflow-x: hidden;
    }

    .iframeClass {
        width: 100%;
        height: 300px;
    }

    .videosAgency{
        margin-left: 0;
        margin-right: 0;
        height: 21pc;
    }

    .allTeamMember{
        margin-top: 20pc;
    }

    .bgw_detail{
        display: none;
    }

    .logo{
        padding: 0 155px;
        padding-left: 0;
    }

    .profite {
        background-color: #0CBFA4;
        border: none;
        color: white;
        padding: 2px 26px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        align-content: center;
        border-radius: 45px;
    }

    .imageAgence {
        height: 20pc;
    }

    .golovkin {
        width: 100%;
        float: left;
        height: 320px;
    }

    .videoPhrase{
        margin: 20px;
    }

    .canelo3{
        height: 240pc;
    }

    .canelo4{
        text-align: center;
    }

    .inputForm{
        width: 80%;
        height: 60px;
        border-radius: 50px;
        padding: 0 25px;
        margin-top: 10px
    }

    .caleno1{
        font-size: 25px;
        margin: 30px;
    }

    .canelo{
        margin-left: 10%;
        margin-right: 10%;
        height: 175pc;
    }

    .canelo{
        margin: 45px;
    }

    .divPineapple {
        height: 96pc;
    }

    .footerColor {
        height: 67pc;
        margin: 0;
    }

    .section5 {
        background-color: #EDF0F7;
        height: 2100px;
        margin-left: 0;
    }

    .dsd {
        margin-top: 0;
        height: 800px;
    }

    .column{
        text-align: center;
        width: 93%;
        font-size: 30px;
    }

    .column3{
        margin-top: 60px;
    }

    .notreObjectif {
        margin-top: 15px;
        text-align: center;
        font-size: 32px;
    }

    .img_logo{
        width: 75px;
        height: 40px;
        margin: 14px;
    }

    .img_service{
        width: 100%;
        margin-top: 30px;
        height: auto;
    }

    .ul200 {
        margin-left: 30px;
        margin-top: 35px;
    }

    .Ieum12{
        color: white;
        margin-top: 110px;
        font-size: 30px;
    }

    .Ieum {
        float: left;
        width: 92%;
        height: 465px;
        padding: 0 14px;
    }

    .nav-links {
        color: white;
        margin: 0;
        width: 50%;
        position: absolute;
        right: 0;
        height: 88vh;
        top: 12vh;
        display: flex;
        flex-direction: column;
        background-color: #0CBFA4;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    #divThomas {
        background-image: url(./../img/imagemobile.png);
        /* background-size: cover; */
        background-repeat: no-repeat;
        /* background-position: right; */
    }

    .Ieum1{
        margin-top: -12%;
    }

    .footerAgency{
        width: 100%;
        height: 200px;
        background-color: #FDDD00;
        margin-top: 47%
    }

    .footerUl{
        margin: 100px;
    }

    .titleDIP{
        margin-top: -100px;
        color: #f1f1f1
    }

    .footer{
        width: 100%;
        height: 500px;
        background-color: #FDDD00;
    }

    .deveirInflu{
        margin: 0;
    }

    .footerAgency{
        width: 100%;
        height: 425px;
        background-color: #FDDD00;
        margin-top: 290%;
    }

    .textDigital{
        font-size: 10px;
        color: #f1f1f1;
    }

    .Infldeux {
        float: left;
        width: 92%;
        padding: 0 10px;
        margin: 1%;
    }


    .section4 {
        background-color: #EDF0F7;
        margin-top: 0;
        height: 215pc;
    }

    .NosH1influ{
        text-align: center;
        font-size: 30px;
    }

    .services{
        margin: 0;
        width: 100%;
        position: relative;
        text-align: center;
    }

    .agencyPrese{
        margin: 0;
        height: 55pc;
    }

    .TitleService {
        position: absolute;
        top: 70%;
    }

    .b{
        background-color: #0CBFA4;
        text-align: center;
    }

    .row{
        position: relative;
        justify-content: center;
        flex-direction: row;
        overflow-x: auto;
        margin: 5%;
        height: 98pc;

    }

    .formulaireContact{
        background-color: #0CBFA4;
    }

    .PhraseMetiersAvenir{
        text-align: center;
        font-size: 10px;
    }

    .OurServices{
        float: left;
        width: 100%;
        background-color: #0CBFA4;
    }

    .ServicesList_2{
        margin-top: 30px;
        text-align: center;
        float: none;
    }

    ul {
        list-style-type: none;
        margin: 3%;
        padding: 0;
        overflow: no-content;
    }

    li {
        float: none;
        color: white;
    }

    .OurServices1{
        background-color: #FDDD00;
    }

    .card{
        position: relative;
        width: 100%;
        height: 65%;
        border-radius: 40px;
    }


    .subtitle {
        margin: 25px;
        font-size: 29px;
        text-align: center;
    }

    .agence{
        float: none;
        margin: 3%;
        margin-top: 45%;
        text-align: center;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .votreReussite{
        font-size: 25px;
        margin: 10px
    }

    .nav-active{
        transform: translateX(0%);
    }

    .toggle .line1{
        opacity: 0;
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .column{
        margin-top: 0;
        background-color: #EDF0F7;
        display: block;
        margin-bottom: 20px;
    }

    .p_ami {
        margin-top: 36pc;
        font-size: 18px;
    }

    .formationsCertifiantes{
        font-size: 16px;
    }

    .row2{
        display: initial;
        justify-content: center;
    }

    .img-bg {
        margin-top: 100%;
    }

    .pineapple{
        width:100%;
        height: auto;
        margin-left:0px;
        padding: 0;
    }

    .pineapple2{
        width:100%;
        height: auto;
        margin-left:0px;
        padding: 0;
    }

    .divPineapple{
        margin: 0;
    }

    .teamMember{
        width: 250px;
    }

    .teamMemberName{
        text-align: center;
    }

    .videoPhrase{
        font-size: 20px;
    }

    .epicVideo{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .a {
        float: left;
        width: 100%;
    }

    .btnjenProfite{
        width: 48%;
        height: 60px;
        color: #0CBFA4;
        border-radius: 50px;
        background-color: #FDDD00;
    }

    .OurServices {
        margin: 0;
        width: 100%;
    }

    ul {
        list-style-type: none;
        overflow: no-content;
    }

    .ServicesList {
        text-align: center;
    }

    .ServicesList_2{
        text-align: center;
    }

    .footerServices{
        margin-left: 0;
        margin-right: 0;
    }

    .divVide{
        background-color: #0CBFA4;
        padding: 30%;
    }
}


/*Iphone 12*/
@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {

    .row {
        position: relative;
        justify-content: center;
        flex-direction: row;
        overflow-x: auto;
        margin: 5%;
        height: 99pc;
    }

}




/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    header{
        overflow: hidden;
        height: 100vh;
    }

    body{
        overflow-x: hidden;
    }


    .allTeamMember{
        margin-top: 20pc;
    }

    .logo{
        padding: 0 155px;
        padding-left: 0;
    }

    .profite {
        background-color: #0CBFA4;
        border: none;
        color: white;
        padding: 2px 26px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        align-content: center;
        border-radius: 45px;
    }

    .imageAgence {
        height: 22pc;
    }

    .golovkin {
        width: 100%;
        float: left;
        height: 320px;
    }

    .videoPhrase{
        margin: 20px;
    }

    .canelo3{
        height: 240pc;
    }

    .canelo4{
        text-align: center;
    }

    .inputForm{
        width: 80%;
        height: 60px;
        border-radius: 50px;
        padding: 0 25px;
        margin-top: 10px
    }

    .caleno1{
        font-size: 25px;
        margin: 30px;
    }

    .canelo{
        margin-left: 10%;
        margin-right: 10%;
        height: 175pc;
    }

    .canelo{
        margin: 45px;
    }

    .divPineapple {
        height: 82pc;
    }

    .footerColor {
        height: 67pc;
        margin: 0;
    }

    .section5 {
        background-color: #EDF0F7;
        height: 2300px;
        margin-left: 0;
    }

    .dsd {
        margin-top: 0;
        height: 800px;
    }

    .column{
        text-align: center;
        width: 93%;
        font-size: 30px;
    }

    .column3{
        margin-top: 60px;
    }

    .notreObjectif {
        margin-top: 15px;
        text-align: center;
        font-size: 32px;
    }

    .img_logo{
        width: 75px;
        height: 40px;
        margin: 14px;
    }

    .img_service{
        width: 100%;
        margin-top: 30px;
        height: auto;
    }

    .ul200 {
        margin-left: 30px;
        margin-top: 35px;
    }

    .Ieum12{
        color: white;
        margin-top: 110px;
        font-size: 30px;
    }

    .Ieum {
        float: left;
        width: 92%;
        height: 465px;
        padding: 0 14px;
    }

    .nav-links {
        color: white;
        margin: 0;
        width: 50%;
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        background-color: #0CBFA4;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    #divThomas {
        background-image: url(./../img/imagemobile.png);
        /* background-size: cover; */
        background-repeat: no-repeat;
        /* background-position: right; */
    }

    .Ieum1{
        margin-top: -12%;
    }

    .footerAgency{
        width: 100%;
        height: 200px;
        background-color: #FDDD00;
        margin-top: 47%
    }

    .footerUl{
        margin: 100px;
    }

    .titleDIP{
        margin-top: -100px;
        color: #f1f1f1
    }

    .footer{
        width: 100%;
        height: 500px;
        background-color: #FDDD00;
    }

    .deveirInflu{
        margin: 0;
    }

    .footerAgency{
        width: 100%;
        height: 425px;
        background-color: #FDDD00;
        margin-top: 290%;
    }

    .textDigital{
        font-size: 10px;
        color: #f1f1f1;
    }

    .Infldeux {
        float: left;
        width: 92%;
        padding: 0 10px;
        margin: 1%;
    }


    .section4 {
        background-color: #EDF0F7;
        margin-top: 0;
        height: 215pc;
    }

    .NosH1influ{
        text-align: center;
        font-size: 30px;
    }

    .services{
        margin: 0;
        width: 100%;
        position: relative;
        text-align: center;
    }

    .agencyPrese{
        margin: 0;
        height:55pc;
    }

    .TitleService {
        position: absolute;
        top: 70%;
    }

    .b{
        background-color: #0CBFA4;
        text-align: center;
    }

    .row{
        position: relative;
        justify-content: center;
        flex-direction: row;
        overflow-x: auto;
        margin: 5%;
        height: 106pc;
    }

    .formulaireContact{
        background-color: #0CBFA4;
    }

    .PhraseMetiersAvenir{
        text-align: center;
        font-size: 10px;
    }

    .OurServices{
        float: left;
        width: 100%;
        background-color: #0CBFA4;
    }

    .ServicesList_2{
        margin-top: 30px;
        text-align: center;
        float: none;
    }

    ul {
        list-style-type: none;
        margin: 3%;
        padding: 0;
        overflow: no-content;
    }

    li {
        float: none;
        color: white;
    }

    .OurServices1{
        background-color: #FDDD00;
    }

    .card{
        position: relative;
        width: 100%;
        height: 65%;
        border-radius: 40px;
    }


    .subtitle {
        margin: 25px;
        font-size: 29px;
        text-align: center;
    }

    .agence{
        float: none;
        margin: 3%;
        margin-top: 45%;
        text-align: center;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .votreReussite{
        font-size: 25px;
        margin: 10px
    }

    .nav-active{
        transform: translateX(0%);
    }

    .toggle .line1{
        opacity: 0;
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .column{
        margin-top: 0;
        background-color: #EDF0F7;
        display: block;
        margin-bottom: 20px;
    }

    .p_ami {
        margin-top: 30pc;
        font-size: 18px;
    }

    .formationsCertifiantes{
        font-size: 16px;
    }

    .row2{
        display: initial;
        justify-content: center;
    }

    .img-bg {
        margin-top: 100%;
    }

    .pineapple{
        width:100%;
        height: auto;
        margin-left:0px;
        padding: 0;
    }

    .pineapple2{
        width:100%;
        height: auto;
        margin-left:0px;
        padding: 0;
    }

    .divPineapple{
        margin: 0;
    }

    .teamMember{
        width: 250px;
    }

    .teamMemberName{
        text-align: center;
    }

    .videoPhrase{
        font-size: 20px;
    }

    .epicVideo{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .a {
        float: left;
        width: 100%;
    }

    .btnjenProfite{
        width: 48%;
        height: 60px;
        color: #0CBFA4;
        border-radius: 50px;
        background-color: #FDDD00;
    }

    .OurServices {
        margin: 0;
        width: 100%;
    }

    ul {
        list-style-type: none;
        overflow: no-content;
    }

    .ServicesList {
        text-align: center;
    }

    .ServicesList_2{
        text-align: center;
    }

    .footerServices{
        margin-left: 0;
        margin-right: 0;
    }

    .divVide{
        background-color: #0CBFA4;
        padding: 30%;
    }
}
